html {box-sizing:border-box;}
*,* :after, *:before {box-sizing:inherit;}
li{
	list-style: none;
}
#container{
	width: 1500px;
	margin:auto;
}

.etsyContainer{
	width: 800px;
	display: flex;
	justify-content: flex-start;
	
}

.name{
	margin-right: 15px;
	font-family: serif;
	color: rgb(242,77,1);
	font-size: 30px;
	font-weight: bold;

}

::placeholder{
	color: rgb(20,20,20);
	
}
 .topInput{
 	margin-top: 35px;
 	width: 275px;
 	height: 30px;
 	border: 1px solid rgb(200,196,193);
 	border-radius:5px 0 0 5px;
 	background-color: rgb(250,250,249);
 	border-right: none;
 	outline: none;
 }

 .topInput:focus{
 	border: 1px solid black;
 	background-color: white;
 }

 .searchButton{
 	margin-top: 35px;
 	width: 65px;
 	height: 30px;
 	border:1px solid black; 
 	border-radius:0 5px 5px 0;
 	background-color: black;
 	color: white;
 	font-weight: bold;
 	border-left: none;
 	outline: none;
 }

.rightContainer{
	width: 700px;
	display: flex;
	justify-content: flex-end;

}
 
.firstContainer{
	display: flex;
}


.signIn{
	margin-top: 35px;
	margin-left: 10px;
	margin-right: 0;
 	width: 65px;
 	height: 30px;
 	border: 1px solid black;
 	border-radius: 5px;
 	background-color: transparent;
 	color: black;
 	font-weight: bold;
 	outline: none;
}



.signIn:hover{
	color: white;
	background-color: black;
}

.sell, .reg{
	margin-top: 40px;
	margin-right: 20px;


}

.sell:hover{
	text-decoration: underline;
}

.reg:hover{
	text-decoration: underline;
}

.icons{
	text-align: center;
	font-size: 14px;
	width: 150px;
	display: block;
	margin-top: 35px;
	display: flex;
	justify-content:flex-start;
	list-style: none;
}

.dis{
	height: 40px;
	padding-left: 5px;
	color: rgb(91,91,91);
	margin-right: 15px;
	border-left:1px solid rgb(229,229,229);

}

.cart {
	height: 40px;
	padding-left: 5px;
	color: rgb(91,91,91);
	margin-right: 15px;
	border-left:1px solid rgb(229,229,229);

}

.fas{
	font-size: 20px;
}

.fas:hover{
	color: black;
}

.dis:hover, .cart:hover{
	color: rgb(79,79,79);
}

.secondContainer{
	width: 100%;
	height: 60px;
	border-top: 1px solid rgb(221,223,218);
	border-bottom: 1px solid rgb(221,223,218);
}
.nav{
	height: 44px;
	display: flex;
	justify-content: space-between;

}
.nav > li{
	margin-left: -38px;
}


.nav > li:hover{
	border-bottom: 3px solid rgb(242,77,1);
}



















