html {box-sizing:border-box;}
*,* :after, *:before {box-sizing:inherit;}
li{
	list-style: none;
}
ul{
	padding: 0;
}
#container{
	width: 1500px;
	margin:auto;
}

.etsyContainer{
	width: 800px;
	display: flex;
	justify-content: flex-start;
	
}

.name{
	margin-right: 15px;
	font-family: serif;
	color: rgb(242,77,1);
	font-size: 30px;
	font-weight: bold;

}

::placeholder{
	color: rgb(106,106,106);
	
}
 .topInput{
 	margin-top: 35px;
 	width: 275px;
 	height: 30px;
 	border: 1px solid rgb(200,196,193);
 	border-radius:5px 0 0 5px;
 	background-color: rgb(250,250,249);
 	border-right: none;
 	outline: none;
 }

 .topInput:focus{
 	border: 1px solid black;
 	background-color: white;
 }

 .searchButton{
 	margin-top: 35px;
 	width: 65px;
 	height: 30px;
 	border:1px solid black; 
 	border-radius:0 5px 5px 0;
 	background-color: black;
 	color: white;
 	font-weight: bold;
 	border-left: none;
 	outline: none;
 }
 .searchButton:hover{
 	cursor: pointer;
 	background-color: rgba(52,52,52);
 }

.rightContainer{
	width: 700px;
	display: flex;
	justify-content: flex-end;

}
 
.firstContainer{
	display: flex;
}


.signIn{
	margin-top: 35px;
	margin-left: 10px;
	margin-right: 0;
 	width: 65px;
 	height: 30px;
 	border: 1px solid black;
 	border-radius: 5px;
 	background-color: transparent;
 	color: black;
 	font-weight: bold;
 	outline: none;
}



.signIn:hover{
	color: white;
	background-color: black;
	cursor: pointer;
}

.sell, .reg{
	margin-top: 40px;
	margin-right: 20px;


}

.sell:hover{
	text-decoration: underline;
	cursor: pointer;
}

.reg:hover{
	text-decoration: underline;
	cursor: pointer;
}

.icons{
	margin-left: 15px;
	text-align: center;
	font-size: 14px;
	width: 150px;
	display: block;
	margin-top: 35px;
	display: flex;
	justify-content:flex-start;
	list-style: none;
}

.dis{
	height: 40px;
	padding-left: 5px;
	color: rgb(91,91,91);
	margin-right: 15px;
	border-left:1px solid rgb(229,229,229);

}

.cart {
	height: 40px;
	padding-left: 5px;
	color: rgb(91,91,91);
	margin-right: 15px;
	border-left:1px solid rgb(229,229,229);

}

.fas{
	font-size: 20px;
}

.fas:hover{
	color: black;
}

.dis:hover, .cart:hover{
	color: rgb(79,79,79);
	cursor: pointer;
}

.secondContainer{
	width: 100%;
	height: 60px;
	border-top: 1px solid rgb(221,223,218);
	border-bottom: 1px solid rgb(221,223,218);
}
.nav{
	height: 44px;
	display: flex;
	justify-content: space-between;

}


.nav > li:hover{
	border-bottom: 3px solid rgb(242,77,1);

}

.nav:hover{
	cursor: pointer;
}

.thirdContainer{
	display: flex; 	
}

.wd, .wg, .wb, .ws, .wsh, .wy, .sc, .wy, .bo, .be {
	margin-top:20px;
	margin-right: 10px;
	padding: 8px;
	height: 35px;
	background: rgb(245,174,111);
	border-radius: 3px;
}

.bo, .be{
	margin-top:20px;
	margin-right: 10px;
	padding: 8px;
	height: 35px;
	background: rgb(248,208,142);
	border-radius: 3px;
}

.thirdContainer:hover{
	cursor: pointer;
}

.fourthContainer{
	padding: 15px;
	margin-top: 30px;
	width: 270px;
	border: 1px solid rgb(221,223,218)
}

.special{
	border: none;
	border-radius: 3px; 
	background-color: rgba(250,231,210);
	padding-top: 0;
}

#onSale{
	font-size: 14px;
}

#onSale:hover{
	text-decoration: underline;
	cursor: pointer;
}

.allCat{
	margin-bottom: 0;
}

.cates{
	margin: 10px;
}

.hl, .ac, .wed, .clo{
	padding: 3px;
	font-size: 14px; 
}

.show{
	margin-bottom: 15px;
	text-decoration: underline;
}


.allCat:hover, .hl:hover, .ac:hover, .wed:hover, .clo:hover, .show:hover{
	text-decoration: underline;
	cursor: pointer;
}


.categories{
	border-bottom: 1px solid rgb(221,223,218);
}

.shipping{
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(221,223,218);	
}
.ship{
	margin-bottom: 5px;
}
#freeship, #oneDay, #threeDay{
	font-size: 14px;
}

#freeship:hover, #oneDay:hover, #threeDay:hover {
	text-decoration: underline;
	cursor: pointer;
}

.material{
	padding-bottom: 1px;
	border-bottom: 1px solid rgb(221,223,218);	
}

.materialType{
	margin-bottom: 5px;
}

#ceramic, #cork, #fabric, #glass, #metal{
	font-size: 14px;
}

#ceramic:hover, #cork:hover, #fabric:hover, #glass:hover, #metal:hover{
	text-decoration: underline;
	cursor: pointer;
}

.color{
	padding-bottom: 1px;
	border-bottom: 1px solid rgb(221,223,218);	
}

.clr{
	margin-bottom: 5px;
}

#beige, #black, #blue, #bronze, #brown{
	font-size: 14px;
}

#beige:hover, #black:hover, #blue:hover, #bronze:hover, #brown:hover{
	text-decoration: underline;
	cursor: pointer;	
}

.personal{
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(221,223,218);	
}

.prl{
	margin-bottom: 5px;
}

#yes, #no{
	font-size: 14px;
}

#yes:hover, #no:hover{
	text-decoration: underline;
	cursor: pointer;	
}	

.occasion{
	padding-bottom: 1px;
	border-bottom: 1px solid rgb(221,223,218);	
}

.occ{
	margin-bottom: 5px;
}

#anniversary, #baby, #bach, #party, #bday{
	font-size: 14px;
}

#anniversary:hover, #baby:hover, #bach:hover, #party:hover, #bday:hover{
	text-decoration: underline;
	cursor: pointer;		
}


.holiday{
	padding-bottom: 1px;
	border-bottom: 1px solid rgb(221,223,218);
}


.hld{ 
	margin-bottom: 5px;
}

#xmas, #cinco, #easter, #dad, #hal{
	font-size: 14px;
}

#xmas:hover, #cinco:hover, #easter:hover, #dad:hover, #hal:hover{
	text-decoration: underline;
	cursor: pointer;		
}

.location{
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(221,223,218);
}

.loc{
	margin-bottom: 5px;
}

.zip {
	height: 25px;
	outline: none;
}
.zip:focus{
	height: 25px;
	outline: 1px solid black;
}

.zipButton{
	background-color: transparent;
	position: relative;
	top:2px;
}

.zipButton:hover{
	cursor: pointer;
}

.locbar{
	height: 32px;
	padding-left: 20px;
}

#any, #us, #custom{
	font-size: 14px;
}

#any:hover,  #us:hover, #custom:hover{
	text-decoration: underline;
	cursor: pointer;
}
.item{
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(221,223,218);
}

.type{
	margin-bottom: 5px;
}

#all, #hand, #vintage{
	font-size: 14px;
}

#all:hover, #hand:hover, #vintage:hover{
	text-decoration: underline;
	cursor: pointer;
}


.price{
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(221,223,218);
}


.mula{
	margin-bottom: 5px;
}

#anyprice, #under, #fifty, #hunnid, #over, #cosprice{
	font-size: 14px;
}

#anyprice:hover, #under:hover, #fifty:hover, #hunnid:hover, #over:hover, #cosprice:hover{
	text-decoration: underline;
	cursor: pointer;
}

.to{
	font-size: 12px;
}

.ltoh{
	margin-top: 2px;
	padding-left: 20px;
	width: 170px;
	display: flex;
	justify-content: space-between;
}

.low, .high{
	height:30px;
	width:50px;
	outline: none;
}
.low:focus, .high:focus{
outline: 1px solid black;
}

.monButton{
	height: 30px;
	background-color: transparent;
	position: relative;
	outline: none;	
}
.monButton:hover{
	cursor: pointer;
}

.ordering{
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(221,223,218);	
}

.options{
	margin-bottom: 5px;
}

#ecard, #giftw{
	font-size: 14px;
}

#ecard:hover, #giftw:hover{
	text-decoration: underline;
	cursor: pointer;	
}	

.country{
	width: 100%;
	height: 25px;
}

.bodyCon{
	display: flex;
	border-bottom: 1px solid rgb(221,223,218)
}

.jsContainer{
	padding: 15px;
	width: 1230px;
	display:flex;
	flex-wrap: wrap;
}

.dataCon{
	margin-top: 15px;
	margin-left: 15px;
	text-decoration: none;
}

.image {
	width: 250px;
	height: 250px;
}
.image:after{
	background-image: url(./assets/heart.png);
	
}
.image:hover{
	display:block;
	cursor: pointer;
	border: 2px ridge grey;  
}

.title{
	color: black;
	margin: 5px;
  	width: 250px;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  
}

.madeBy{
	margin: 5px;
	color: rgb(89,89,89);
	font-size: 12px;


}

.imPrice{
	margin: 5px;
	color:black;
}

.sixthContainer{
	padding-top: 20px;
	background-color: rgb(250,249,245);
	text-align: center;

}

.subCon{
	margin-bottom: 20px;
}
 .subButton{
 	margin-left: -4px;
    padding-bottom: 1px;
 	margin-top: 20px;
 	width: 65px;
 	height: 30px;
 	border:1px solid black; 
 	border-radius:0 5px 5px 0;
 	background-color: black;
 	color: white;
 	font-weight: bold;
 	border-left: none;
 	outline: none;
 }
 .subButton:hover{
 	cursor: pointer;
 	background-color: rgba(52,52,52);
 }
.footer{
	margin-bottom: 0;
}

.bFooter{
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	border-bottom: 1px solid rgb(221,223,218)
}


.fab{
	margin-right: 5px;
}

.footerLi{
	margin: 10px;
}

.footerLi:hover{
	text-decoration: underline;
	cursor: pointer;
}

.lastCon{
	display: flex;
	background-color: rgb(250,249,245);
}

.leftEtsy{
	display: flex;
	margin-right: 900px;
}

.easy{
	padding-top: 30px;
}

.usCon{
	margin-top: 40px;
	width: 275px;
	height: 45px;
	display: flex;
	border: 1px solid rgb(221,223,218);
}

.us, .english, .usd{
	height: 18px;
	padding-left: 5px;
	padding-right: 10px;
	margin-bottom: 0;
}

.english, .usd{
	border-left: 1px solid rgb(221,223,218)
}

.fas{
	margin-right: 5px;
}


